body {
    font-family: 'Marion', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #EEE8DD;

    font-size: 16px;
    color: #040202
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #5F693C; 
}

a:hover {
    color: #CB4026; 
}


#sticky-header {
    position: sticky;
    top: 0;
    background-color: #EEE8DD;
    z-index: 1000; 
    display: flex;
    flex-direction: column;
    align-items: center;

}

#logo {
    max-width: 150px;
    min-width: 50px;
    margin-top: 20px;
}

#nav-bar {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

#nav-bar ul {
    display: flex;
    gap: 180px;
    flex-wrap: wrap;
}

#menu-button {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 2rem;

    color: #040202; /* black */
    transition: color 0.2s ease;
    
}

/* Change color when clicked (nav active) */
#nav-bar.active + #menu-button,
#menu-button[aria-expanded="true"] {
    color: #CB4026; /* red */
}

.scrolling-banner {
    width: 100%;
    background-color: #CB4026; 
    color: #EEE8DD; 
    overflow: hidden;
    height: 28px;
    z-index: 9999; 
    padding-top: 10px; 

    display: flex;
    flex-wrap: nowrap;
}

.scrolling-text {
    white-space: nowrap;
    flex-shrink: 0;
    padding-right: 50px;
    animation: scroll 20s linear infinite; 
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.image-text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex-wrap: nowrap;
    margin-top: 60px;
    padding: 0 40px;

}

.text-box {
    margin-top: -30px;
}

.left-text {
    padding-left: 50px;
}



.text-box p {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.text-image, .text-box{
    flex: 1;
}

.text-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; 
}

.text-image img {
    width: 60%;
    height: auto;
    max-width: 600px; 
    justify-content: center;
}

.title{
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    color: #5F693C;
}

.title3{
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    color: #5F693C;
    text-align: center;
}

.more-info-button{
    background-color: #5F693C;
    color: #EEE8DD;
    padding: 5px 20px 6px 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    border-radius: 50px;

}


.button-container{
    margin-top: 20px;
}

.full-width-image {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.full-width-image2 {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.full-width-image img {
    width: 100%;
    height: auto;
    display: block; 
}

.full-width-image2 img {
    width: 100%;
    height: auto;
    display: block; 
}

.full-width-image .productImage {
    margin-top: 80px;
}

.services-list {
    padding-left: 20px; 
 }



#orangeBanner {
    margin-top: 40px;
    background-color: #C6854E;
    color: #EEE8DD;
    margin-bottom: 50px;
}




.title2{
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    color: #EEE8DD;
    text-align: center;
    margin-top: 20px;
}

.contact-section {
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #CB4026;
    text-align: center;
    color: #EEE8DD;
    font-family: "Montserrat", sans-serif;

    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
}

.contact-info{
    text-align: left;

    display: flex;
    justify-content: space-between;
    font-size: 12px;
    gap: 20px;
    flex-wrap: wrap;

}

.contact-info div {
    flex: 1 1 0px; 
    min-width: 200px;
}



.addressButton{
    background-color: #EEE8DD;
    color: #040202;
    padding: 5px 20px 6px 20px;
    text-align: center;
    font-weight: 600;



    border-radius: 50px;
}

.solid-line {
    border-top: 1px solid #040202;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 100px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 12px;
}

.footer-content div {
    font-family: "Montserrat", sans-serif;
    flex: 1;
    gap: 50px;
    min-width: 200px;
}
.social-icon {
    width: 30px;
    height: 30px;
}

.footer-logo img {
    width: 70%;
    height: auto;
    margin-bottom: 10px;
}

.footer-content > div h4 {
    margin-bottom: 10px;
    margin-top: 0;
}

.footer-links >ul> li>a{
    color: #040202;

}

.footer-links >ul> li>a:hover{
    color:#CB4026;

}

.history-box {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-wrap: nowrap;
    margin: 40px auto 0 auto;  
    max-width: 1200px;          
    padding: 0 40px;
    gap: 20px; 
}

.about-text-box, .history-image {
    flex: 1;
}

.history-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px; 
}

.history-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
}

.owners-image {
    display: block;      
    margin: 20px auto;   
    max-width: 100%;     
    height: auto;        
}

.history-box.growth {
    margin-bottom: 50px;
}

.paragraph-box {
    max-width: 1200px;   
    margin: 40px auto;  
    padding: 0 20px;    
}

.link-button {
    background-color: #5F693C;
    color: #EEE8DD;
    padding: 5px 20px 6px 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    width: max-content;
}

.menu {
    max-width: 1200px;
    margin: 0 auto;      
    padding: 0 20px;     
}

.menu-category >h2{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #5F693C;
}

.menu-item >h3{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #CB4026;
}

.menu-category {
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    padding: 20px 0; 
}

.menu-item{
    padding: 20px;
    border: 1px solid #000; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
}

.menu-item > p{
    text-align: center;
    font-size: 12px;
}

.menu-description{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #040202;
    margin-bottom: 20px;
}





@media (max-width: 1200px) {

    .mobile-header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
     }

     #logo {
        max-width: 120px; 
     }
        

    #menu-button {
        display: block; 
        position: absolute;
        right: 20px; 
        top: 50%;
        transform: translateY(-50%);
        font-size: 2rem; 
        cursor: pointer;
    }

    #nav-bar {
        margin-bottom: 10px; 
    }

    #nav-bar ul {
        display: none; 
        flex-direction: column;
        align-items: center;
        width: 100%;

        font-size: 1rem;
        gap: 10px; 
        padding: 10px 0; 
    }
   
    #nav-bar ul li {
        padding: 10px 0; 
    }
    
    #nav-bar.active ul {
        display: flex; 
    }

    .image-text-box {
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 20px;
        align-items: center;

    }

    .text-box p {
        padding-right: 0; 
        font-size: 12px;
    }

    .title{
        font-size: 16px;
        text-align: center;
    }

    .title2{
        font-size: 16px;
    }

    .title3{
        font-size: 16px;
    }

    .text-box {
        margin-top: auto;
    }

    .services-list {
        font-size: 12px !important; 
        padding-left: 20px; 
    }

    .left-text {
        padding-left: 0px;
    }

    .more-info-button{
        display: block;
        margin: 0 auto;
        width: max-content;
    }

    .contact-section {
        font-size: 12px;
    }

    .contact-info{ 
        font-size: 12px;
    }

    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-content > div {
        width: 100%;
    }

    .footer-logo img {
        width: 50%;
        height: auto;
    }

    .history-box {
        flex-direction: column;
        padding: 0 20px;
        margin-top: 20px;
    }

    .history-image {
        margin-left: 0;
        margin-top: 20px;
    }

    .history-image img {
        width: 100%;
        max-width: 100%;
    }

    .menu-items {
        grid-template-columns: 1fr !important; 
        padding-left: 20px; 
        padding-right: 20px;
    }

}


@media (max-width: 480px) {

  footer {
    margin: 0 20px;
    padding: 30px 0;
  }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns like Refuge */
    gap: 20px;
    align-items: start;
    text-align: left;
    padding: 0;
  }

  .footer-content > div {
    width: 100%;
  }

  .footer-logo img {
    width: 70%;
    margin-bottom: 10px;
  }

  .contact-section a{
    color: #040202;
    
  }
}

