body {
    font-family: Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #EEE8DD;
}

.container {
    text-align: center;
}

.image {
    width: 40%;
    max-width: 600px;
    margin-top: -30px;
}

.title {
    font-weight: bold;
    font-size: 20px;
    color: #CB4026;
}

.text {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin: 20px 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.flex-item {
    padding: 20px;
    text-align: center;
    flex: 1;
    min-width: 150px;
    max-width: 200px;
}

.flex-item a {
    text-decoration: none;
    color: #CB4026;
    font-size: 30px;
    font-weight: bold;
}

.flex-item a:visited {
    color: #CB4026; /* Ensure visited links have the same color */
}

.menu {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #040202;
}

.menu .arrow {
    font-size: 24px;
    margin-right: 10px;
}

.header {
    text-align: center;
    font-size: 48px;
    margin: 20px 0;
    color: #CB4026;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 20px;
    font-family: Montserrat, sans-serif;
}

.grid-item {
    padding: 20px;
    border: 1px solid #000; /* Add this line to create solid borders */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item .title {
    font-size: 20px;
    margin-bottom: 10px;
}

.grid-item img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
}

.grid-item .description {
    text-align: center;
    font-size: 14px;
}

a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
}

a:visited {
    color: inherit; /* Ensure visited links have the same color */
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column; /* Single column layout for flex container */
        align-items: center;
    }

    .grid-container {
        grid-template-columns: 1fr; /* Single column layout for mobile */
        grid-gap: 20px; /* Add gap between boxes */
    }

    .grid-item {
        border: 1px solid #000; /* Full border for all items */
        margin-bottom: 20px; /* Add margin to ensure boxes are not cut off */
    }
}


